node_modules
package-lock.json
package.json
tsconfig.json
tslint.json

*.out
*.so
.vscode/
tmpTest/
myblog/
build/

external_libs
build.log
dev_ops/docker/huggingface_flask_chatbot_example/flask_server/llm_models/*

__pycache__
*.egg-info
.pytest_cache

*.tar

.DS_Store
__MACOSX

math/ai/nlp/llm/lang_chain/examples/llm_tutorial_venv
math/ai/nlp/llm/lang_chain/examples/llm_config.py
math/ai/nlp/llm/lang_chain/examples/sentence-transformers
math/ai/nlp/llm/lang_chain/examples/BAAI
math/ai/nlp/llm/lang_chain/examples/google
math/ai/nlp/llm/lang_chain/examples/storage

*.spacy
output

*.log
logs