# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast/DeploySystem.s.sol/1337/run-latest.json
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env


wallet-*